.ul {
    list-style-type: none;
    padding-left: 3%;
    display: flex;
    justify-content: left;
}

.card {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.card-title {
    font-weight: 550;
    padding-bottom: 2%;
    font-size: 1.9vw;
}

.item {
    font-size: large;
    float: none;
    padding-bottom: 2%;
    cursor: pointer;
    display: flex;
    justify-content: left;
    color: black;
}

.item:hover {
    color: #1b9aaa;
}

.item-2 {
    display: flex;
    justify-content: left;
}

.add-btn {
    display: flex;
    justify-content: left;
    margin-left: 3%;
    margin-top: 3%;
    padding-bottom: 2%;
}


button.add-btn-inner.v-btn.v-btn--is-elevated {
    background-color: #2a7ada;
    color: white;
    font-size: x-small;
}

.list-item {
    padding: 0%;
    padding-left: 3%;
    min-height: auto;
    //white-space: nowrap;
    width: max-content;
}

.disp-left {
    display: flex;
    justify-content: left;
    margin-bottom: 1%;
    color: black;
    font-family: 'Fira Sans Condensed';
    font-size: x-large;
    font-weight: bold;
}


.dash-btn.v-btn.v-size--default {
    font-size: 1.3rem;
    background-color: rgba($color: #1c2e86, $alpha: 1.0);
    font-weight: bold;
    font-family: 'Fira Sans Condensed';
    color: white;
}

.card-title {
    font-weight: 300;
    margin-bottom: 3%;
    font-family: 'B612';
    font-size: x-large;
    color: white;
    background-color: rgba($color: #2a7ada, $alpha: 1.0);
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}