.ul {
    list-style-type: none;
    padding-left: 3%;
    display: flex;
    justify-content: left;
}

.card {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.card-title {
    font-weight: 300;
    margin-bottom: 3%;
    font-family: 'B612';
    font-size: x-large;
    color: white;
    background-color: rgba($color: #2a7ada, $alpha: 1.0);
}

.item {
    font-size: medium;
    //float: none;
    padding-bottom: 2%;
    cursor: pointer;
    color: black;
}

.item:hover {
    color: #1b9aaa;
}

.add-btn {
    display: flex;
    justify-content: left;
    margin-left: 3%;
    padding-bottom: 2%;
}

button.add-btn-inner.v-btn.v-btn--is-elevated {
    background-color: rgba($color: #2a7ada, $alpha: 1.0);
    color: white;
}